#login form {
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    /* border: 1px solid black; */
    font-size: 13px;
    min-width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    min-height: 300px;
}


#login .login-container {
    width: 100%;
    min-height: 75vh;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}



.inputBox {
    color: black;
    background-color: whitesmoke;
    box-sizing: border-box;
    display: flex;
    padding: 5px;
    min-height: 30px;
    width: 80%;
}


input {
    background: none;
    /* border: none; */
    outline: none;
    color: black;
    font-size: 13px;
    width: 100%;
    line-height: 5px;
}






#login-btn {
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
    padding: 12px 30px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    color: #fff;
    border: 2px solid black;
    background-color: #1A3C53;
    width: 80%;
    margin-top: 30px;
}