* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}

.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}

.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}

.rate:not(:checked) > label:before {
  content: "★ ";
}

.rate > input:checked ~ label {
  color: #ffc700;
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.body{
  background-color: #c59b08;
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

/* ****************************************************************************************************************************

 INICIO FELISBINO    INICIO FELISBINO    INICIO FELISBINO    INICIO FELISBINO    INICIO FELISBINO    INICIO FELISBINO        

   ****************************************************************************************************************************

*/

.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* margin: 0; */
}

.cardLogin {
  margin-top: 8vh;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardLogin input {
  margin-bottom: 1vh;
  background-color: whitesmoke;
}

.btnEsqueciSenha {
  padding: 1vh;
  margin-top: 2vh;
}

.cardCadastre {
  margin-top: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.esqueciSenhaModalFooter {
  display: flex;
  justify-content: center;
  align-items: center;
}


.services {
  margin: 20px;
  display: flex;
  overflow-x: scroll;
  gap: 10px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.services::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.services .card {
  flex: 0 0 auto;
  width: calc(100% / 5);
}

.services .card img {
  height: 250px;
  object-fit: cover;
}

.card {
  margin-left: 20px;
}

/* ****************************************************************************************************************************

 FIM FELISBINO    FIM FELISBINO    FIM FELISBINO    FIM FELISBINO    FIM FELISBINO    FIM FELISBINO    FIM FELISBINO    FIM FELISBINO        

   ****************************************************************************************************************************

*/


/* ****************************************************************************************************************************

 INICIO AFFONSO    INICIO AFFONSO    INICIO AFFONSO    INICIO AFFONSO    INICIO AFFONSO    INICIO AFFONSO    INICIO AFFONSO    

   ****************************************************************************************************************************

*/

.logoCadastro {
  max-width: 28vh;
  height: auto;
}

.modalCadastro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.divideTipoCadastro {
  margin-top: 4%;
}

.btnTipoCadastro {
  border: 1px solid #012640;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}

.btnTipoCadastro.active {
  background-color: #012640;
  color: white;
}

.descricaoNegocio {
  resize: none;
  min-height: 15vh;
}

.ajustaTela {
  margin: 0;
  margin-top: 2%
}

/* ********************************************************************************************************************

        FIM AFFONSO     FIM AFFONSO     FIM AFFONSO     FIM AFFONSO     FIM AFFONSO     FIM AFFONSO     FIM AFFONSO 


***********************************************************************************************************************
*/
